<!DOCTYPE html>
<html>
  <head>
    <title>Besteraunts</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~Content/css/styles.css'>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1><a href="/">Curl Up and Dye</a></h1>
      <p>Stylist and Client Database</p>
    </div>
    <div class="container text-center">
      <h2>All Clients</h2>

      @{
        if (Model != null)
        {
          @foreach (var client in Model)
         {
          <p>@client.GetName()</p>

        }
       }
      }
      <a href="/">Back</a>
    </div>
