<!DOCTYPE html>
<html>
  <head>
    <title>Besteraunts</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='Content/css/styles.css'>
  </head>
  <body>

    <div class="jumbotron text-center">
      <h1><a href="/">Curl Up and Dye</a></h1>
      <p>Stylist and Client Database</p>
      <form class="container" action="/search_results" method="post">

             <div class="col-md-10 col-md-offset-4">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search for Client Name" >
              </div>
            </div>

      </form>
    </div>
    <div class="container text-center">
      <h1>@Model.GetName()</h1>
      <h3>@Model.GetName()'s Clients:</h3>

    <a href="/">Back</a>
    </div>
  </body>
</html>
